.globalLoader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.globalLoader__inner {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.globalLoader__spinner {
  width: 250px;
  height: 250px;
  transform-origin: center;
  animation: globalLoaderSpin 1s linear infinite;
}

@keyframes globalLoaderSpin {
  to {
    transform: rotate(360deg);
  }
}
