.tripsToolbar {
  margin-top: 12px;
  display: flex;
  gap: 16px;
  align-items: end;
  flex-wrap: wrap;
}

.tripsToolbar__search {
  display: grid;
  gap: 6px;
  min-width: 240px;
  flex: 1;
}

.tripsToolbar__label {
  font-size: 20px;
  color: #FFFFFF;
}

.tripsToolbar__input {
  height: 40px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.tripsToolbar__toggle {
  height: 40px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  user-select: none;
  color: #fff;

  input {
    width: 20px;
    height: 20px
  }
}
