:root {
  --color-navy: #1a3263;
  --color-steel: #547792;
  --color-amber: #fab95b;
  --color-sand: #e8e2db;

  --font-display-400: "Clash Display 400", sans-serif;
  --font-display-700: "Clash Display 700", sans-serif;
  --font-display-900: "Clash Display 900", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-display-400), sans-serif;
  background-color: #f8f8f6;
  color: #2d2d2d;
  line-height: 1.6;
  letter-spacing: 0.07em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.absolute_center_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content_wrapper {
  width: 100%;
  max-width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;

  @media all and (min-width: 480px) {
    max-width: calc(100% - 32px);
  }

  @media all and (min-width: 768px) {
    max-width: calc(100% - 48px);
  }

  @media all and (min-width: 1024px) {
    max-width: calc(100% - 96px);
  }

  @media all and (min-width: 1280px) {
    max-width: calc(100% - 132px);
  }

  @media all and (min-width: 1440px) {
    max-width: 1200px;
  }

  @media all and (min-width: 1535px) {
    max-width: 1200px;
  }
}

.glass {
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "Clash Display 400";
  src: url("/fonts/ClashDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display 700";
  src: url("/fonts/ClashDisplay-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display 900";
  src: url("/fonts/ClashDisplay-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.white_background_bubble {
  background-image:
    radial-gradient(
      circle at 13% 47%,
      rgba(140, 140, 140, 0.03) 0%,
      rgba(140, 140, 140, 0.03) 25%,
      transparent 25%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 63%,
      rgba(143, 143, 143, 0.03) 0%,
      rgba(143, 143, 143, 0.03) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 56%,
      rgba(65, 65, 65, 0.03) 0%,
      rgba(65, 65, 65, 0.03) 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 48%,
      rgba(60, 60, 60, 0.03) 0%,
      rgba(60, 60, 60, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 17%,
      rgba(150, 150, 150, 0.03) 0%,
      rgba(150, 150, 150, 0.03) 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(25, 25, 25, 0.03) 0%,
      rgba(25, 25, 25, 0.03) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 52%,
      rgba(69, 69, 69, 0.03) 0%,
      rgba(69, 69, 69, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.brown_background_bubble {
  background-image:
    radial-gradient(
      circle at 62% 39%,
      rgba(30, 30, 30, 0.05) 0%,
      rgba(30, 30, 30, 0.05) 8%,
      transparent 8%,
      transparent 16%,
      transparent 16%,
      transparent 28%,
      transparent 28%,
      transparent 100%
    ),
    radial-gradient(
      circle at 19% 61%,
      rgba(201, 201, 201, 0.01) 0%,
      rgba(201, 201, 201, 0.01) 59%,
      transparent 59%,
      transparent 60%,
      transparent 60%,
      transparent 99%,
      transparent 99%,
      transparent 100%
    ),
    radial-gradient(
      circle at 15% 5%,
      rgba(186, 186, 186, 0.05) 0%,
      rgba(186, 186, 186, 0.05) 9%,
      transparent 9%,
      transparent 79%,
      transparent 79%,
      transparent 92%,
      transparent 92%,
      transparent 100%
    ),
    radial-gradient(
      circle at 64% 49%,
      rgba(51, 51, 51, 0.08) 0%,
      rgba(51, 51, 51, 0.08) 22%,
      transparent 22%,
      transparent 50%,
      transparent 50%,
      transparent 96%,
      transparent 96%,
      transparent 100%
    ),
    radial-gradient(
      circle at 53% 21%,
      rgba(0, 0, 0, 0.04) 0%,
      rgba(0, 0, 0, 0.04) 21%,
      transparent 21%,
      transparent 80%,
      transparent 80%,
      transparent 89%,
      transparent 89%,
      transparent 100%
    ),
    radial-gradient(
      circle at 14% 91%,
      rgba(49, 49, 49, 0.04) 0%,
      rgba(49, 49, 49, 0.04) 35%,
      transparent 35%,
      transparent 63%,
      transparent 63%,
      transparent 71%,
      transparent 71%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 78%,
      rgba(64, 64, 64, 0.02) 0%,
      rgba(64, 64, 64, 0.02) 56%,
      transparent 56%,
      transparent 75%,
      transparent 75%,
      transparent 80%,
      transparent 80%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 85%,
      rgba(69, 69, 69, 0.06) 0%,
      rgba(69, 69, 69, 0.06) 53%,
      transparent 53%,
      transparent 68%,
      transparent 68%,
      transparent 97%,
      transparent 97%,
      transparent 100%
    ),
    linear-gradient(270deg, rgb(131, 98, 101), rgb(87, 65, 67));
}
